@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: white;
}
.cartoes{
    background-image: url('/images/bg-main-desktop.png');
    width: 40%;
    background-size: cover;
    z-index: -1;
    
}
.teste{
    display: flex;
    flex-direction: column;
    width: 447px;
    height: 100%;
    justify-content: center;
    margin-left: 70%;
}
.frente-cartao{
    display: flex;
    background-image: url('/images/bg-card-front.png');
    height: 245px;
    width: 100%;
}
.traseira-cartao{
    display: flex;
    background-image: url('/images/bg-card-back.png');
    height: 245px;
    width: 100%;
}